<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="'/user'">
                <i class="fa fa-users"></i>&nbsp;
                <span>{{ 'Gestion des abonnées' | translate }}</span>
            </a>

            <a class="list-group-item">
                <i class="fa fa-edit"></i>&nbsp;
                <span>{{ 'Gestion des publications' | translate }}</span>
            </a>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages1')">
                <i class="fa fa-folder-open"></i>&nbsp;
                <span>{{ 'Gestion des contenus' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages1'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-medkit "></i>&nbsp;
                            <span>{{ 'Gestion des médicaments' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-user-md"></i>&nbsp;
                            <span>{{ 'Gestion des médecins' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-heartbeat"></i>&nbsp;
                            <span>{{ 'Gestion des maladies' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item">
                <i class="fa fa-file"></i>&nbsp;
                <span>{{ 'CGU' | translate }}</span>
            </a>
        </div>

        <div class="nested-menu">
            <a class="list-group-item">
                <i class="fa fa-file-text"></i>&nbsp;
                <span>{{ 'Chartes' | translate }}</span>
            </a>
        </div>

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
