$body-bg: transparent;
:host {
  display: block;
}

/* erreur class */
.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}

.message-error {
  color: red;
  font-size: 12px;
  // margin-top: -12px;
  margin-bottom: 10px;

}

.ShowHidePassword {
  padding-right: 20px;
  margin-top: -12px;
}

html, body, app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  overflow: hidden;
  margin: 0;
}

$body-bg: transparent;
:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.login-page {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;


}
footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}
.top-area {
  height: 76px;
  width: 50%;
  position: relative;
  width: 100%;
  background: #17afbc;
  z-index: 99;
  border-bottom: 1px solid #17afbc;
  overflow: auto;
}
.logo {
  max-width: 100px;
  padding: 5px;
  z-index: 99999;
  position: relative;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.logo a, .logo a:hover, .logo a:focus {
  color: #fff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.logo a span {
  color: #1b97d8;
  text-transform: capitalize;
}

.header-area {
  position: relative;
  width: 100%;
}

.footer-bottom {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background: #212121;
  height: 200px;

}

.contact-info {
  padding: 20px 0;
}

.contact .contact-title {
  margin-bottom: 45px;
}

.contact {
  position: relative;
  padding: 50px 0;
  background: url(../../assets/images/contact2.jpg) no-repeat center fixed;
  background-size: cover;
  z-index: 1;
  background-color: #17afbc;
}

.contact:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 175, 188, 0.5);
  z-index: -1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.contact-info div {
  padding: 20px 0;
  color: #fff;
  font-size: 1.8rem;
}

.mail a {
  color: #fff;
  font-size: 2.2rem;
}


.card-signin {

  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;

}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
.color-17afbc {
  background-color:#17afbc;
  border-color: #17afbc;
}
.center_login{
  margin-top:90px;
}
