<div class="login-page" [@routerTransition]>
<div id="header">
    <div class="top-area position-sticky">
        <div class="container">
            <div class="row">

                <div class="logo">
                    <img src=" assets/images/logoWhite.png" height="65px">
                </div>


            </div>

        </div>
    </div>
</div>

<div class="container ">
    <div class="row ">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto center_login" >
            <div class="card card-signin my-5">
                <div class="card-body">
                     <h5 class="card-title text-center">Connexion</h5>
                    <div *ngIf="isResponseInvalid" class="alert alert-danger">
                    <!-- {{ResponseInvalid}} -->
                    Nom d'utilisateur ou mot de passe incorrect
                    </div>
                    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-label-group">
                          <p [ngClass]="{ 'has-error': isSubmitted && f.username.errors }">
                          <input type="text" formControlName="username" id="inputEmail" class="form-control validate" placeholder="Nom d'utilisateur"
                                 required>
                          </p>
                          <div *ngIf="isSubmitted && f.username.errors" class="help-block">
                            <div *ngIf="f.username.errors.required" class="font-small blue-text d-flex justify-content-end message-error" >Le nom d'utilisateur est obligatoire</div>
                          </div>
                        </div>

                        <div class="form-label-group">
                          <p [ngClass]="{ 'has-error': isSubmitted && f.password.errors }">
                          <!-- <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false" class="ShowHidePassword"> -->
                          <input type="password" formControlName="password" id="inputPassword" class="form-control validate input-underline input-lg" placeholder="Mot de passe"
                                 required>
                          <!-- </show-hide-password> -->

                          </p>
                          <div *ngIf="isSubmitted && f.password.errors" class="help-block">
                          <div *ngIf="f.password.errors.required" class="font-small blue-text d-flex justify-content-end message-error">Le mot de passe est obligatoire</div>
                          </div>

                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <!-- <label class="custom-control-label" for="customCheck1">Souvenir du mot de passe</label> -->
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase color-17afbc" type="submit" [disabled]="!loginForm.valid">Se Connecter
                        </button>
                        <hr class="my-4">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="footer-bottom text-center">
        <section id="contact" class="contact">
            <div class="container">
                <div class="text-center animated fadeInDown">
                    <!-- <h2>Contact</h2> -->

                    <div class="mail">
                        <a href="mailto:contact@keeplyna.com"><i class="fa fa-envelope"></i> contact@keeplyna.com</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="col-12">
            <p class="text-center">© 2019 Copyright:<a href="https://www.itserv.tn" > ITSERV.</a></p>
        </div>
    </div>
</div>
