<div class="container-fluid">
    <div class="card-body">
        <div class="row">
            <div class="card text-white bg-primary mb-3 ml-5" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>

                </div>
            </div>

            <div class="card text-white bg-primary mb-3 ml-5" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>

                </div>
            </div>


            <div class="card text-white bg-primary mb-3 ml-5" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>

                </div>
            </div>
            <div class="card text-white bg-primary mb-3 ml-5" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="toolbar" class=" col col-lg-3">
                <select class="form-control browser-default custom-select">
                    <option value="">Statut</option>
                    <option value="all">Publications</option>
                </select>
            </div>
            <div class=" active-cyan-4 col-lg-offset-6 col-lg-3">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>


    <div class="card_T card-body table-responsive">
        <div style="margin-top:20px;">
            <table id="dtMaterialDesignExample" class="table table-striped table-hover dt-responsive" cellspacing="0"
                   width="100%">

                <thead>
                <tr>
                    <th class="th-sm">ID
                    </th>
                    <th class="th-sm">firstnname
                    </th>
                    <th class="th-sm">lastname
                    </th>
                    <th class="th-sm">Activee
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of myData">
                    <td>{{data.id}}</td>
                    <td>{{data.firstname}}</td>
                    <td>{{data.lastname}}</td>
                    <td *ngIf="data.active"> Active</td>
                    <td *ngIf="!data.active"> Désactiver</td>

                </tr>
                </tbody>

            </table>


        </div>
    </div>
</div>

